
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>

    <a asp-controller="Opera">Opera</a>

    <vc:opera-list></vc:opera-list>
</body>
</html>
