@model StarterM.Models.Opera
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li>@Model.OperaID</li>
        <li>@Model.Title</li>
        <li>@Model.Year</li>
        <li>@Model.Composer</li>
    </ul>
</body>
</html>
